<h1>index</h1>
<%= link_to "create ToDo", todos_new_path  %>



<%= link_to "Listar",  todos_list_path %>


<% @todos.each do |todo| %>


<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h5 class="card-title">DESCRIPCION TAREA</h5>
    <p class="card-text"><%= todo.description %></p>
    <p class="card-text"><%= todo.completed %></p>

    <div>

    <%= link_to 'completed', complete_path(todo), method: :complete, class: "btn btn-primary"  %>

    
    

    <%= link_to "Mostrar Tarea", todo, class:"btn btn-success"  %>
    

    <%= link_to "EDITAR TAREA", edit_path(todo), class:"btn btn-info"  %>

    <%= link_to "ELIMINAR TAREA", todo, method: :delete, class:"btn btn-danger" %>
   
    </div>


   
  </div>
</div>




    
    
<% end %>